/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;

}

section {
    width: 100%;
    padding: 50px 0;
}

a {
    text-decoration: none;
    color: white;
}

/* regole link box */
.link-box {
    padding: 15px;
    border-radius: 30px;
}

.white-bg {
    background-color: white;
    color: black;
}

.dark-bg {
    background-color: rgb(34, 38, 41);
    color: white;
}

span { 
    margin: 0 10px;
}

/* regole intestazione */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.block-nav {
    width: 25%;
    padding: 5px;
    /* DEBUG */
    /* background-color: orange; */
    /* border: 1px dotted black; */
}

ul {
    display: flex;
    justify-content: space-evenly;
}

.middle {
    width: 50%;
}

.right {
    text-align: right;
}

li {
    list-style-type: none;
}

#first-section-header {
    padding: 20px 0;
}

/* regole seconda sezione header */
#second-section-header {
    /* DEBUG */
    height: 400px;
}

#main-content-header {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    /* DEBUG */
    /* height: 300px;
    background-color: palevioletred;
    border: 1px dotted black; */
}

#header-title {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

#header-text {
    color: white;
    line-height: 2;
    padding: 0 60px;
}

#header-links {
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

/* regole parte principale */

/* regole prima/terza sezione */
.image {
    width: 60%;
    /* DEBUG */
    /* background-color: skyblue;
    border: 1px dotted black;
    height: 400px; */
}

.image img {
    width: 100%;
    height: 100%;
}

.text {
    text-align: left;
    color: rgb(34, 38, 41);
    padding-top: 40px;
    width: 40%;
    /* DEBUG */
    /* background-color: pink;
    border: 1px dotted black;
    height: 400px; */
}

.text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.text p {
    line-height: 1.5;
}

/* regole seconda sezione */
.bg-grey {
    background-color: rgb(245, 245, 245);
}

/* regole quarta sezione */
#big-div {
    /* DEBUG */
    background-color: green;
    height: 700px;
    border: 1px dotted black;
}



/* regole footer */
footer {
    background-color: rgb(34, 38, 41);
}

/* regole prima section footer */
#first-footer {
    padding-top: 10px;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}
#social {
    width: 35%;
    /* DEBUG */
    background-color: red;
    height: 500px;
    border: 1px dotted black;
}

.credits {
    width: calc(65% / 4);
    /* DEBUG */
    background-color: rgb(32, 179, 171);
    height: 500px;
    border: 1px dotted white;
}

/* regole seconda section footer */
#second-footer {
    padding: 0;
}

#block {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    /* DEBUG */
    background-color: aqua;

}

.buttons {
    padding: 5px;
    /* DEBUG */
    background-color: pink;
    border: 1px dotted black;
}